
body {
    overflow-x: hidden;
}

.header {
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.sidebar {
    z-index: 1;
    height: 100vh;
    overflow-y: auto;
}

input[type="checkbox"] {
    transform: scale(1.5); 
    accent-color: black;
}

.products {
    gap: 20px;
}

.prod-details {
    height: 200px;
}

.prod-details h6 {
    color: #9e3500;
}

.var {
    width: 50px;
}

.prod-hover-img {
    display: none;
}

.product-photo:hover .prod-hover-img {
    display: flex;
}

.product-photo:hover .prod-desc,
.product-photo:hover .prod-var,
.product-photo:hover .prod-title {
    display: none;
}

.prod-title span {
    font-size: 10px;
}

.circle {
    width: 27px;
    height: 27px;
}

.purple {
    background-color: #8d429f;
}

.red {
    background-color: #e7352bff;
}

.yellow {
    background-color: #fed533ff;
}

.pink {
    background-color: #f0728fff;
}

.white {
    background-color: white;
    border: .5px solid black;
}

.black {
    background-color: black;
}

.grey {
    background-color: #808080ff;
}

.green {
    background-color: #7bba3cff;
}

.orange {
    background-color: #f36b26ff;
}

.blue {
    background-color: #1790c8ff;
}

.brown {
    background-color: #825d41ff;
}

.llo {
    font-size: 12px;
}

.more i {
    opacity: 0.5;
    font-size: 13px;
}

.sizes {
    border: 1px solid rgba(0, 0, 0, 0.096);
    cursor: pointer;
}

.sizes:hover {
    border: 1px solid black;
}

.mb-8 {
    margin-bottom: 84px;
}

.relate {
    height: 400px;
}

@media (max-width: 500px) {
    .relate {
        height: 280px;
    }
}

.related {
    overflow-x: scroll;
} 
 
.pong a {
    text-decoration: none;
}

.zoro {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 9px;
}
