#tshirt-info{
    width:100%;
    /* border:2px solid red; */
    height: 700px;
    
}
#tshirt-info>div:nth-child(1)
{
    /* border: 2px solid green; */
    width:85%;
    height: 92%;
    margin: auto;
    margin-top: 2.5%;
    display: flex;
    justify-content: space-between;
}
#small-img{
    width:7%;
    /* border: 2px solid red; */
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
#small-img>div{
    
    margin: auto;
    width:86%;
    height: 11%;
   
    /* border:2px solid blue; */
   
}
#small-img>div>img{
    border-radius: 5%;
    object-fit: cover;
    width:100%;
    height: 100%;

}
#small-img>div:nth-child(2)
{
    border-radius: 5%;
    background-position: center;
    background-size:cover;
    background-image: url('https://static.nike.com/a/videos/so_5.62/7337a30c-baa3-4a8e-b5b7-435e8e8c12c9/zion-t-shirt-4wVTdv.jpg');

}
#big-img{
    width:39%;
    height: 100%;
    /* border: 2px solid red;  */
    background-position: center;
    background-size:cover;
    background-image: url('https://static.nike.com/a/images/t_PDP_1728_v1/f_auto,q_auto:eco,u_126ab356-44d8-4a06-89b4-fcdcc8df0245,c_scale,fl_relative,w_1.0,h_1.0,fl_layer_apply/536f341d-0084-4f4d-961b-dc128feaa8fc/zion-t-shirt-4wVTdv.png');
    border-radius: 3%;
    
}
#big-img>img{
  
   
    width:100%;
    height: 100%;
}
#info{
    width:50%;
    /* border: 2px solid red; */
    height: 100%;
}
#info>div{
    width:70%;
    margin:auto;
    /* border:2px solid black; */
}
#info>div>p:nth-child(1)
{
    font-size: 28px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}
#info>div>p:nth-child(4),p:nth-child(5)
{
   color: #99999c;
}
#info>div>p:nth-child(2),p:nth-child(3),p:nth-child(4),p:nth-child(5)
{
    font-size: 16px;
    padding-top: 0;
    padding-bottom: -10;
    font-weight: 600;
    font-family: Helvetica Now Text Medium,Helvetica,Arial, Helvetica, sans-serif;
}
#info>div:nth-child(1)>div:nth-child(6)
{
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
    /* border:2px solid blue; */
    display: flex;
    justify-content: space-between;
}
#info>div:nth-child(1)>div:nth-child(6)>p{
    font-size: 16px;
    font-weight: 600;
}
#info>div:nth-child(1)>div:nth-child(6)>p:nth-child(2){
    color: #99999c;

}
#info{
    overflow-y: scroll;
}
::-webkit-scrollbar {
    width: 2px;
  }
  #info>div>div:nth-child(9)
  {
    margin-top: 20px;
    font-size: 17px;
    font-weight:bold;
    color:#555454;
    
  }
  ul{
    margin-top: 20px;
    font-size: 17px;
    font-weight:bold;
    color:#555555;
  }
  #info>div>div:nth-child(11)
  {
    color:black;
    margin-top: 20px;
    font-size: 17px;
    font-weight:bold;

  }
  .info_link{
    font-size: 21px;
  }
  .size{
    margin-top: 8px;
    width:400px;
    display: flex;
    justify-content: space-between;
  }
  .size>div{
    width:130px;
    height: 50px;
    text-align: center;
    padding-top: 13px;
    border: 1px solid rgb(143, 140, 140);
    border-radius: 6%;
    font-size: 18px;
  }